<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles.css" />
    <title>Order Calculator</title>
  </head>
  <body class="welcome">
    <div class="welcome-container">
      <h1>Welcome to the Order Date Calculator App!</h1>
      <a href="/auth/google">Login with Google</a>
    </div>
  </body>
</html>
